<launch>
    <arg name="peg_shape"
        default="circle"
        doc="Select a peg shape from the following: (circle)"
    />
    <arg name="peg_size"
        default="30"
        doc="The peg size in mm"
    />
    <arg name="ps4_controller"
        default="true"
        doc="Whether you will control the robot with a PS4 controller." />
   
    <include file="$(find bravo_arm_sw)/launch/bravo_arm.launch">
        <arg  name="use_ps4_controller" value="$(arg ps4_controller)"/>
        <arg  name="with_trisect" value="false"/>
        <arg  name="start_rviz" value="true"/>
        <arg  name="with_base_hand" value="false"/>
        <arg  name="with_rigid_peg" value="false"/>
        <arg  name="with_moveit_servo" value="true"/>
        <arg  name="peg_size" value="$(arg peg_size)"/>
        <arg  name="peg_shape" value="$(arg peg_shape)"/>
    </include>

    <node name="hole_spawner" pkg="bravo_in_contact_manipulation" type="hole_spawner.py" output="screen">
        <param name="peg_size" value="30" />
    </node>

</launch>